@font-face {
    font-family: 'ModerneSans';
    src: url('./fonts/MODERNE\ SANS.ttf'); /*URL to font*/
}

body {
    margin:0px;
    padding:0px;
}

.nav {
    display:flex;
    background-color: #203354;
    align-items: center;
    justify-content: flex-end;
    height:100px;
}

#name-icon {
    margin:auto;
    margin-left:16px;
}

.nav.nav-name {
    color: white;
}

.nav-name a {
    font-weight:1000;
    font-size:30px;
    padding:16px;
    font-family: 'ModerneSans';
    text-decoration: none;
    color: white;
}

.nav img {
    cursor:pointer;
    display:block;
    background-color: transparent;

}

.nav li {
    display:inline;
    list-style: none;
    padding: 16px;
    
}

.nav li a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: 'ModerneSans';
    font-weight:1000;
    letter-spacing: 1px;
    
}

.page-content {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height:1080px;
    background-color: #203354;
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

#title-page {
    display:flex;
    flex-direction: column;
    font-family: 'ModerneSans';
    color:white;
    font-weight: 1000;
    flex-wrap: wrap;
}

.page-content h1 {
    word-spacing: -30px;
    font-size: 100px;
    color:white;
    font-weight: 1000;
}

.page-content img {
    margin:auto;
    padding-left:16px;
    display:flex;
    border-radius: 10%;
}

.About-Us {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:1080px;
    background-color: #203354;
    background-attachment: fixed;
}

.about-us-desc {
    display:flex;
    flex-direction: column;
    font-family: 'ModerneSans';
    color:white;
    font-weight: 1000;
    flex-wrap: wrap;
    width: 800px;
}

.about-us-desc .desc-title {
    font-size: 80px;
    font-weight: 1000;
    color: #fcc95e;
}

.Tutors {
    display:flex;
    height:1080px;
    background-color: #203354;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

#tutor-photo {
    transition: transform 330ms ease-in-out;
    flex-direction: column;
}

#tutor-photo:hover{
    transform: scale(1.09);
    cursor: pointer;
}

.Tutors p {
    margin:0;
    font-size: 20px;
    font-weight:1000;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: #fcc95e;
    text-align: center;
    padding:5px;
}

.contact-us {
    display:flex;
    height:1080px;
    align-items: center;
    justify-content: center;
    background-color: #203354;
    
}

#section {
    display:flex;
    background-color:#203354;
    height:150px;
    width: 700px;
    flex-direction: column;
    padding-left:40px
}

#section h2 {
    margin-bottom: 0px;
    justify-content: flex-start;
    font-size: 30px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: #fcc95e;
}

#section p {
    margin-top: 0px;
    align-items: flex-start;
    font-size: 20px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: white;
}

#section button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fcc95e;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #203354;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#section button:hover{
    transform: scale(1.09);
    cursor: pointer;
}

.footer {
    display:flex;
    height:100px;
    background-color: #203354;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin:0;
    font-weight:500;
    font-size:20px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    text-decoration: none;
    color: #fcc95e;
}